p{
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    text-align: center;
    border: turquoise solid 1px;
    border-radius: 20px;
    margin: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
div,button,input{
    background-color: white;
    text-align: center;
    font-weight: bold;
}
button,input{
    border-radius: 10px;
    border: turquoise 1px solid;
    cursor: pointer;
}
button:hover,input:hover{
    background-color: teal;
    color: white;
}
